@model Demo.Models.Domain.Order

<h1>This is order/index view</h1>
<br>
<h2> @ViewData["Title"] </h2>
@*<ul>
    <li>
        User: @Model.User.FirstName @Model.User.LastName
    </li>
    <li>
        Pizza: @Model.Pizza
    </li>
    <li>
        Price: @Model.Price
    </li>
    <li>
        Address: @Model.User.Address
    </li>
</ul>*@

<ul>
    <li>
        User: @Model.User.FirstName @Model.User.LastName
    </li>
    <li>
        Pizza: @Model.Pizza
    </li>
    <li>
        Price: @Model.Price
    </li>
    <li>
        Address: @Model.User.Address
    </li>
</ul>